    @model List<_2TDSPG_Cinema.Models.Sessao>
    @{
        ViewData["Title"] = "Cinema";
    }

    <h2>Bem-vindo ao Cinema</h2>

    <p>Aqui você pode encontrar informações sobre sessões disponíveis, reservar ingressos e muito mais!</p>

    <div class="text-center">
        
        <table class="table">
            <thead>
                
            </thead>
            <tbody>
                @foreach (var sessao in (Model ?? new List<_2TDSPG_Cinema.Models.Sessao>()))
                {
                    foreach (var filme in sessao.Filmes) 
                    {
                        <tr>
                            <td>@filme.Titulo</td>
                            <td>@filme.Diretor</td>
                            <td>@sessao.Horario.ToString("dd/MM/yyyy HH:mm")</td>
                            <td>@sessao.IngressosDisponiveis</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <h2>Adicionar Nova Sessão:</h2>
        <form asp-controller="Cinema" asp-action="AdicionarSessao" method="post">
            <div class="form-group">
                <label for="titulo">Título do Filme:</label>
                <input type="text" class="form-control" id="titulo" name="titulo">
            </div>
            <div class="form-group">
                <label for="diretor">Diretor:</label>
                <input type="text" class="form-control" id="diretor" name="diretor">
            </div>
            <div class="form-group">
                <label for="horario">Horário:</label>
                <input type="datetime-local" class="form-control" id="horario" name="horario">
            </div>
            <div class="form-group">
                <label for="ingressos">Ingressos Disponíveis:</label>
                <input type="number" class="form-control" id="ingressos" name="ingressos">
            </div>
          
            <button type="submit" class="btn btn-primary">Adicionar Sessão</button>
        </form>
        <br />
        <h2>Excluir Sessão:</h2>
        <form asp-controller="Cinema" asp-action="Delete" method="post">
            <div class="form-group">
                <label for="titulo">Título do Filme:</label>
                <input type="text" class="form-control" id="titulo" name="titulo">
            </div>
            <div class="form-group">
                <label for="diretor">Diretor:</label>
                <input type="text" class="form-control" id="diretor" name="diretor">
            </div>
            <div class="form-group">
                <label for="horario">Horário:</label>
                <input type="datetime-local" class="form-control" id="horario" name="horario">
            </div>
              
            <button type="submit" class="btn btn-danger">Excluir Sessão</button>
        </form>

        <br />

        <h2>Sessões Cadastradas:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Título do Filme</th>
                    <th>Diretor</th>
                    <th>Horário</th>
                    <th>Ingressos Disponíveis</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sessao in (Model ?? new List<_2TDSPG_Cinema.Models.Sessao>()))
                {
                    <tr>
                        <td>@sessao.Filmes[0].Titulo</td>
                        <td>@sessao.Filmes[0].Diretor</td>
                        <td>@sessao.Horario.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@sessao.IngressosDisponiveis</td>
                    </tr>
                }
            </tbody>
        </table>



        @if (TempData["Mensagem"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Mensagem"]
            </div>
        }
    </div>
